body,
html {
  font-size: 20px;
  line-height: 1.5;
  background: #f9f9f9;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem;
  letter-spacing: 2px;
}

.icon {
  &--small {
    font-size: 0.25rem;
  }

  &--medium {
    font-size: 1.5rem;
  }
}

.nav {
  background: #441dbf;
  color: #6839ff;

  h1 {
    padding: 0;
  }

  a {
    color: #6839ff;
    line-height: 2;
  }
}

.countdown {
  &__timer {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 700;
    color: #fde1a5;
    margin: 1em 0;
  }
}

.section {
  padding: 3rem 0;
}

.output {
  margin: 0;
  padding: 0.25em 0;
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
}


.timesup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: red;
  color: white;
  z-index: 999;
  font-size: 6rem;
  font-weight: 700;
  line-height: 100vh;

  &.hide {
    display: none;
  }

  .close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    text-shadow: none;
    cursor: pointer;
  }
}

/* button stuff */

.button {
  background: #fb3600;
  padding: 24px 30px;
  display: inline-block;
  border: 2px solid #000001;
  border-radius: 4px;
  color: #fde1a5;
  cursor: pointer;
  text-transform: uppercase;
  font-family: DDCHardware-Regular;
  font-size: 30px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  transition: .33s;
  box-shadow: 0 6px #441dbf;
}

.button:hover.button::after {
  background-color: #fb3600;
}

.button:hover .button__text{
  color: white;
  text-shadow: 0 0 20px white;
}

.button::after {
  display: block;
  position: absolute;
  content: "";
  top: -2px;
  left:-2px;
  right:-2px;
  bottom: 4px;
  background-color: #fa7852;
  border: 2px solid #000001;
  border-radius: 4px;
  z-index: 0;
  transition: .33s;
}

.button::before {
  display: block;
  position: absolute;
  content: "";
  top: 0px;
  left:2px;
  right: 2px;
  border-radius: 2px;
  background: #fdc140;
  height: 2px;
  z-index: 2;
  transition: .33s;
}

.button__text {
  z-index: 2;
  position: relative;
  top: -2px;
  transition: .33s;
}

.button:active.button::after,.button:focus.button::after,.button:active .button__text,.button:focus .button__text,
.button.button--secondary.selected::after,.button.button--secondary.selected::after, .button.selected .button__text,.button.selected .button__text, {
  bottom: -2px;
  top: 4px;
}

.button:active.button::before, .button:focus.button::before,
.button.selected.button--secondary::before {
  top: 6px;
  opacity: 0;
}

.button:active .button__text, .button:focus .button__text,
.button.selected .button__text {
  text-shadow: none!important;
}

.button:active.button::after, .button:focus.button::after,
.button.selected.button::after {
  box-shadow: inset 0 6px #aa0c00;
}

.button:active.button::after,.button:focus.button::after,
.button.selected.button::after {
  background-color: #fb3600;
}

.button:active, .button:focus,
.button.selected {
  background-color: #0000bf;
  box-shadow: 0 0px rgba(0,0,0,0);
}

.button:active .button__text, .button:focus .button__text,
.button.selected .button__text {
  color: #aa0c00;
}

.button--small {
  padding: 12px 15px;
  font-size: 18px;
}

.button--secondary {
  color: #a2e4fd;
  background: #0000bf;
  &::after {
    background: #1578f8;
  }
  &::before {
    background: #32bbff;
  }
}

.button.button--secondary:hover {
  &::after {
    background: #0051fc;
  }
}

.button.button--secondary:active .button__text, .button.button--secondary:focus .button__text,
.button.button--secondary.selected .button__text {
  color: #0000bf;
}

.button--secondary:active.button::after, .button--secondary:focus.button::after,
.button--secondary.selected.button::after {
  box-shadow: inset 0 6px #0000bf;
  color: #0000bf;
}

.button.button--secondary:active.button::after,.button.button--secondary:focus.button::after,
.button.button--secondary.selected.button::after {
  background-color: #0051fc;
}

/* prompt item */

.section--prompt {
  background-color: #6839ff;
}

.prompt-item {
  padding: 0 12px;
  background-color: #0000bf;
  border: 2px solid #000001;
  border-radius: 4px;
  position: relative;
  z-index: 0;
}

.prompt-item__text {
  position: relative;
  z-index: 1;
  display: block;
  border-left: 2px solid #000001;
  border-right: 2px solid #000001;
  box-shadow: inset 0 6px #fde1a5;
  padding: 12px;
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-family: DDCHardware-Regular;
  font-size: 20px;
}

.section--footer {
  background: #0051fc;
  border-top: 2px solid #000001;
  box-shadow: inset 0 2px 0 #9874fb;
}
