body,
html {
  font-size: 20px;
  line-height: 1.5;
  background: #f9f9f9;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem;
  letter-spacing: 2px;
}

.icon {
  &--small {
    font-size: 0.25rem;
  }

  &--medium {
    font-size: 1.5rem;
  }
}

.nav {
  background: #441dbf;
  color: #6839ff;

  h1 {
    padding: 0;
  }

  a {
    color: #6839ff;
    line-height: 2;
  }
}

.countdown {
  &__timer {
    font-size: 3rem;
    padding: 1rem 0;
    font-weight: 700;
    color: #fff;
    margin: 1em 0;
    text-shadow: 0 6px #441dbf;
    -moz-text-fill-color: #32bbff;
    -webkit-text-fill-color: #32bbff;
    -moz-text-stroke-color: #000001;
    -webkit-text-stroke-color: #000001;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px;

    .minutes {
      font-size: 1.5em;
    }
  }
}

.section {
  padding: 3rem 0;
}

.output {
  margin: 0;
  padding: 1em;
  font-size: 1rem;
  background: #000001;
  color: #fde1a5;
  border-radius: 5px;
  line-height: 1rem;
  position: relative;
  overflow: hidden;

  &.cover {
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -50%;
      left: 0.5%;
      width: 99%;
      height: 48%;
      background: #441dbf;
      border: 3px solid #000001;
      border-radius: 3px 3px 0 0;
      transition: all 0.2s ease-in;
    }

    &:after {
      top: 100%;
      border-radius: 0 0 3px 3px;
    }
  }
}

label {
  cursor: pointer;
}

.closed {
  .output.cover {
    &:before {
      top: 4%;
    }

    &:after {
      top: 50%;
    }
  }

  .label-text {
    opacity: 0.25;
  }
}

.timesup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: red;
  color: white;
  z-index: 999;
  font-size: 6rem;
  font-weight: 700;
  line-height: 100vh;

  &.hide {
    display: none;
  }

  .close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    text-shadow: none;
    cursor: pointer;
  }
}

/* prompt item */

.section--prompt {
  background-color: #6839ff;
}

.prompt-item {
  padding: 0 12px;
  background-color: #0000bf;
  border: 2px solid #000001;
  border-radius: 4px;
  position: relative;
  z-index: 0;
}

.prompt-item__text {
  position: relative;
  z-index: 1;
  display: block;
  border-left: 2px solid #000001;
  border-right: 2px solid #000001;
  box-shadow: inset 0 6px #fde1a5;
  padding: 12px;
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-family: DDCHardware-Regular;
  font-size: 20px;
}

.section--footer {
  background: #0051fc;
  border-top: 2px solid #000001;
  box-shadow: inset 0 2px 0 #9874fb;
}
