* {
  box-sizing: border-box;
}

.icon {
  &--small {
    font-size: 0.25rem;
  }

  &--medium {
    font-size: 1.5rem;
  }
}

.nav {
  background: #441dbf;
  color: #6839ff;

  h1 {
    padding: 0;
  }

  a {
    color: #6839ff;
    line-height: 2;
  }
}

.countdown {
  &__timer {
    font-size: 1rem;
    //padding: 1rem 0;
    font-weight: 700;
    color: #fff;
    //margin: 1em 0;
    position: absolute;//hacking to make work for now
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10px;
    padding: 0;
    margin: 0;
  }
}

.section {
  padding: 3rem 0;
  &--condensed {
    padding: 1rem 0;
  }
}

label {
  cursor: pointer;
}

.timesup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: red;
  color: white;
  z-index: 999;
  font-size: 6rem;
  font-weight: 700;
  line-height: 100vh;

  &.hide {
    display: none;
  }

  .close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    text-shadow: none;
    cursor: pointer;
  }
}

ol {
  padding-left: 1.5rem;
}

/* prompt item */

.section--purple {
  background-color: #6839ff;
}

.prompt-item {
  padding: 0 12px;
  background-color: #0000bf;
  border: 2px solid #000001;
  border-radius: 4px;
  position: relative;
  z-index: 0;
}

.prompt-item__text {
  position: relative;
  z-index: 1;
  display: block;
  border-left: 2px solid #000001;
  border-right: 2px solid #000001;
  box-shadow: inset 0 6px #fde1a5;
  padding: 12px;
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-family: DDCHardware-Regular;
  font-size: 20px;
}

.section--blue {
  background: #0051fc;
}

.section--border-top {
  box-shadow: inset 0 2px #000001,inset 0 4px 0 #9874fb;
}

.width-full {
  width: 100%;
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
  flex-grow: 0!important;
}

.grow {
  flex-grow: 1;
  flex-shrink: 0!important;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.flat-bottom {
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.flat-top {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.flat-bottom + .flat-top {
  margin-top: -2px;
}

.scrolling-content {
  overflow-y: scroll;
  height: 95%;
}
