body,
html {
  font-size: 20px;
  line-height: 1.5;
  background: #f9f9f9;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  // &:active {
  //   position: relative;
  //   top: 2px;
  // }
}

h1,
h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem;
  letter-spacing: 2px;
}

.icon {
  &--small {
    font-size: 0.25rem;
  }

  &--medium {
    font-size: 1.5rem;
  }
}

.nav {
  background: #53c7a2;
  color: #fff;

  a {
    color: #fff;
  }

  h2 {
    padding: 0;
  }
}

.countdown {
  background: rgba(0,0,0,0.05);

  &__timer {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 700;
    color: rgba(0,0,0,0.25);
  }
}

section {
  padding: 1.5em 0;
}

.output {
  margin: 0;
  padding: 0.25em 0;
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
}

.btn {
  padding: 1em 2em;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  border: 0;
}

[data-difficulty="hard"] {
  background-color: #5c61ff;

  &:hover {
    background-color: darken(#5c61ff, 5%);
  }
}

[data-difficulty="medium"] {
  background-color: #5dadff;

  &:hover {
    background-color: darken(#5dadff, 5%);
  }
}

[data-difficulty="easy"] {
  background-color: #5de1ff;

  &:hover {
    background-color: darken(#5de1ff, 5%);
  }
}

.timesup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: red;
  color: white;
  z-index: 999;
  font-size: 6rem;
  font-weight: 700;
  line-height: 100vh;

  &.hide {
    display: none;
  }

  .close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    text-shadow: none;
    cursor: pointer;
  }
}

/* button stuff */

.button {
  background: #fb3600;
  padding: 24px 30px;
  display: inline-block;
  border: 2px solid #000001;
  border-radius: 4px;
  color: #fde1a5;
  text-transform: uppercase;
  font-family: DDCHardware-Regular;
  font-size: 30px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  transition: .33s;
  box-shadow: 0 6px #441dbf;
}
.button:hover.button::after {
  background-color: #fb3600;
}

.button:hover .button__text{
  color: white;
  text-shadow: 0 0 20px white;
}

.button::after {
  display: block;
  position: absolute;
  content: "";
  top: -2px;
  left:-2px;
  right:-2px;
  bottom: 4px;
  background-color: #fa7852;
  border: 2px solid #000001;
  border-radius: 4px;
  z-index: 0;
  transition: .33s;
}

.button::before {
  display: block;
  position: absolute;
  content: "";
  top: 0px;
  left:2px;
  right: 2px;
  border-radius: 2px;
  background: #fdc140;
  height: 2px;
  z-index: 2;
  transition: .33s;
}

.button:active.button::after,.button:focus.button::after,.button:active .button__text,.button:focus .button__text {
  bottom: -2px;
  top: 4px;
}

.button:active.button::before, .button:focus.button::before {
  top: 6px;
  opacity: 0;
}

.button:active .button__text, .button:focus .button__text {
  text-shadow: none!important;
}

.button:active.button::after, .button:focus.button::after {
  box-shadow: inset 0 6px #aa0c00;
}

.button:active.button::after,.button:focus.button::after {
  background-color: #fb3600;
}

.button:active, .button:focus {
  background-color: #0000bf;
  box-shadow: 0 0px rgba(0,0,0,0);
}

.button__text {
  z-index: 2;
  position: relative;
  top: -2px;
  transition: .33s;
}

.button:active .button__text, .button:focus .button__text {
  color: #aa0c00;
}
