{% set title = "DESIGNERCIZE" %}
{% extends 'layouts/application.html' %}

{% block content %}
<script>

function buttonDown() {
  var buttonDown = new Audio('button-down.mp3');
  buttonDown.play();
}

</script>

<div class="row no-gutters layout__container">
  <div class="col-12 order-2 col-md-5 order-md-1 col-lg-4 layout__control-panel">
    <div class="row no-gutters">
      <div class="col-12 order-2 order-md-1 p-2 pb-3 layout__control-panel__display">
        <div class="panel panel--purple panel--raised h-100">
          {% include 'includes/control-panel-display.html' %}
        </div>
      </div>
      <div class="col-12 order-1 order-md-2 p-2 pb-3 layout__control-panel__controls">
        <div class="panel panel--purple panel--raised h-100">
          {% include 'includes/control-panel-controls.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 order-1 col-md-7 order-md-2 col-lg-8 p-2 pb-3 layout__main-display">
    <div class="panel panel--purple panel--raised h-100">
      {% include 'includes/main-display.html' %}
    </div>
  </div>
</div>

{% endblock %}
