{% set title = "DESIGNERCIZE" %}
{% extends 'layouts/application.html' %}

{% block content %}
<script>

function buttonDown() {
  var buttonDown = new Audio('button-down.mp3');
  buttonDown.play();
}

</script>

<div class="row no-gutters layout__container">
  <div class="col-12 order-2 col-md-5 order-md-1 col-lg-4 layout__control-panel">
    <div class="row no-gutters">
      <div class="col-12 order-2 order-md-1 p-2 pb-4 layout__control-panel__display">
        <div class="panel panel--purple panel--raised h-100">
          {% include 'includes/control-panel-display.html' %}
        </div>
      </div>
      <div class="col-12 order-1 order-md-2 p-2 pb-4 layout__control-panel__controls">
        <div class="panel panel--purple panel--raised h-100">
          {% include 'includes/control-panel-controls.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 order-1 col-md-7 order-md-2 col-lg-8 p-2 pb-4 layout__main-display">
    <div class="panel panel--purple panel--raised h-100">
      {% include 'includes/main-display.html' %}
    </div>
  </div>
</div>


{#
<div class="panel panel--purple b-0" style="box-shadow: none;">
  <div class="row no-gutters align-items-stretch">

    <div class="col-md-4 d-flex panel__container order-2 order-md-1">
      <div class="d-flex flex-column justify-content-top p-0">

        <div class="panel__container">

          <div class="panel panel--purple panel--raised shrink order-2 order-md-1" style="max-height: 50vh;">
            <div class="screen d-flex align-items-center flex-column justify-content-center">

              <div class="scrolling-content d-flex flex-column justify-content-top pt-4">

                <div class="row no-gutters align-items-center panel-heading">
                  <div class="col-4 text-right">
                    <img src="images/illo-workout-squat-still.gif" width="96" height="96" class="img-fluid illo workoutman--still">
                    <img src="images/illo-workout-squat.gif" width="96" height="96" class="img-fluid illo workoutman--animated" style="display: none;">
                  </div>
                  <div class="col-8 text-left">
                    <h5 class="panel-heading__title font-weight-fat">Designercize</h5>
                  </div>
                </div>

                <div class="px-3">
                  <small>
                    <ol>
                      <li>
                        Choose a difficulty
                      </li>
                      <li>
                        Reload until you're happy
                      </li>
                      <li>
                        If you're happy and you know it, clap your hands
                      </li>
                      <li>
                        Choose duration
                      </li>
                      <li>
                        Hit Play <i class="icon ion-play"></i>
                      </li>
                    </ol>
                  </small>
                </div>

              </div>

            </div>
          </div>

        </div>
        <div class="panel__container">

          <div class="panel panel--purple panel--raised shrink d-flex flex-column order-1 order-md-2">
            <div class="order-3 order-md-1">
              <div class="button-group grow mb-2">
                <div class="button button--small button--blue js-difficulty d-flex justify-content-center align-items-center" id="easy" data-difficulty="easy" onclick="buttonDown()">
                  <span class="button__text d-none d-md-inline-block">Easy</span>
                  <span class="button__text d-md-none">E</span>
                </div>
                <div class="button button--small button--blue js-difficulty d-flex justify-content-center align-items-center" id="medium" data-difficulty="medium" onclick="buttonDown()">
                  <span class="button__text d-none d-md-block">Medium</span>
                  <span class="button__text d-md-none">M</span>
                </div>
                <div class="button button--small button--blue js-difficulty d-flex justify-content-center align-items-center" id="hard" data-difficulty="hard" onclick="buttonDown()">
                  <span class="button__text d-none d-md-block">Hard</span>
                  <span class="button__text d-md-none">H</span>
                </div>
              </div>
              <button class="screen__scene-change button button--small button--pink width-full mt-1 grow" id="reload-button" onclick="buttonDown()"><span class="button__text"><span class="d-none d-md-inline">Reload Challenge&nbsp;&nbsp;</span><i class="icon ion-refresh"></i></span></button>
            </div>

            <div class="panel__divider order-2"></div>

            <div class="order-1 order-md-3">

              <div class="timer d-flex p mb-3 flex-md-row grow align-items-stretch" id="timer">
                <div class="timer__button-container d-flex align-items-stretch">
                  <button data-stepper-direction="decrease" class="timer__button button button--small button--blue" onclick="buttonDown()"><span class="button__text"><i class="icon ion-chevron-down"></i></span></button>
                </div>
                <div class="timer__display screen d-flex justify-content-center">
                  <div class="align-self-center font-weight-fat">
                    <span class="minutes">15</span>
                    <span class="colon">:</span>
                    <span class="seconds">00</span>
                  </div>
                </div>
                <div class="timer__button-container d-flex align-items-stretch">
                  <button data-stepper-direction="increase" class="timer__button button button--small button--blue" onclick="buttonDown()"><span class="button__text"><i class="icon ion-chevron-up"></i></span></button>
                </div>
              </div>

              <div class="timer-controls__panel back">
                <div class="button-group grow d-flex align-items-stretch">
                  <div class="button js-start-button grow button--green d-flex justify-content-center align-items-center" onclick="buttonDown()">
                    <span class="button__text"><i class="icon ion-play"></i></span>
                  </div>
                  <div class="button js-pause-button grow button--yellow d-flex justify-content-center align-items-center selectable" onclick="buttonDown()">
                    <span class="button__text"><i class="icon ion-pause"></i></span>
                  </div>
                  <div class="button js-stop-button grow button--red d-flex justify-content-center align-items-center" onclick="buttonDown()">
                    <span class="button__text"><i class="icon ion-stop"></i></span>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
    <div class="col-md-8 d-flex align-items-stretch panel__container order-1 order-md-2">

      <div class="panel panel--purple panel--raised d-flex flex-column align-items-stretch p-3 width-full">

        <div class="screen d-flex align-items-center flex-column justify-content-center">
          <div class="scrolling-content d-flex flex-column justify-content-top pt-4 pl-2">

            {% include 'includes/challenge-countdown.html' %}

            {% include 'includes/challenge.html' %}

            {% include 'includes/out-of-time.html' %}

            {% include 'includes/about.html' %}

          </div>
        </div>
      <div class="text-center d-flex align-items-center justify-content-center mt-2">
        <span class="mr-2 mt-1">Made by</span>
        <div class="button js-info-button button--blue button--small selectable px-3"><span class="button__text">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">

          <g>
          	<path class="st0" d="M18.9,10.7l-3.6-0.8l4.3,4.3l4.2-0.8c0.2,2.8,0.2,5.6,0,8.4c-4.6,0.3-8.2,0.3-10.1,0l-1.8-6.8l-1.5,6.8
          		C8.4,22,4.8,22,0.2,21.6c-0.2-2.8-0.2-5.6,0-8.4l4.2,0.8l4.2-4.2L5,10.7C4.8,7.9,4.8,5.2,5,2.4C9.6,2,14.3,2,18.9,2.4
          		C19.1,5.2,19.1,7.9,18.9,10.7z"/>
          </g>
          </svg>
        </span></div>
        <span class="ml-2 mt-1">Mezzotent</span>
      </div>
    </div>


  </div>
</div>
#}

{% endblock %}
