{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
  #}

  {% extends 'layouts/application.html' %}

  {% block content %}
  <!-- <h1 data-module="example">{{ message }}</h1> -->

  <!-- audio js junk -->
  <script>

  function buttonDown() {
      var buttonDown = new Audio('button-down.mp3');
      buttonDown.play();
    }
  </script>
  <div class="row no-gutters align-items-stretch" style="height: 100vh">
    <div class="col-sm-4 panel panel--blue">
      <div class="container-fluid d-flex flex-column justify-content-center">
        <div class="panel panel--blue panel--raised mb-4">
          <div class="screen">

            <div class="row no-gutters align-items-center panel-heading">
              <div class="col-4 text-right">
                <img src="images/illo-workout-squat-still.gif" width="96" height="96" class="img-fluid illo illo--still">
                <img src="images/illo-workout-squat.gif" width="96" height="96" class="img-fluid illo illo--animated" style="display: none;">
              </div>
              <div class="col-8 text-left">
                <h5 class="panel-heading__title">Designercize</h5>
              </div>
            </div>

            <div class="px-3">
              <p>
                Design practice for your lunch break. Get all fit.
              </p>
            </div>

          </div>
        </div>

        <div class="button-group d-flex align-items-stretch mb-2">
          <div class="button button--small button--blue js-difficulty selected" id="easy" data-difficulty="easy" onclick="buttonDown()">
            <span class="button__text d-none d-md-block">Easy</span>
            <span class="button__text d-md-none">E</span>
          </div>
          <div class="button button--small button--blue js-difficulty selected" id="medium" data-difficulty="medium" onclick="buttonDown()">
            <span class="button__text d-none d-md-block">Medium</span>
            <span class="button__text d-md-none">M</span>
          </div>
          <div class="button button--small button--blue js-difficulty selected" id="hard" data-difficulty="hard" onclick="buttonDown()">
            <span class="button__text d-none d-md-block">Hard</span>
            <span class="button__text d-md-none">H</span>
          </div>
        </div>

        <button class="button button--small button--pink width-full mt-1 mb-3" id="reload-button" onclick="buttonDown()"><span class="button__text"><span class="d-none d-md-inline">Reload Challenge&nbsp;&nbsp;</span><i class="icon ion-refresh"></i></span></button>

        <div class="timer d-flex p mb-3 flex-column flex-md-row" id="timer">
          <div class="timer__button-container d-flex align-items-stretch">
            <button data-stepper-direction="decrease" class="timer__button button button--small button--blue" onclick="buttonDown()"><span class="button__text"><i class="icon ion-chevron-down"></i></span></button>
          </div>
          <div class="timer__display screen">
            <span class="minutes">15</span>
            <span class="colon">:</span>
            <span class="seconds">00</span>
          </div>
          <div class="timer__button-container d-flex align-items-stretch">
            <button data-stepper-direction="increase" class="timer__button button button--small button--blue" onclick="buttonDown()"><span class="button__text"><i class="icon ion-chevron-up"></i></span></button>
          </div>
        </div>

        <button class="button grow" id="start-button" onclick="buttonDown()"><span class="button__text"><span class="d-none d-md-inline">Start&nbsp;&nbsp;</span><i class="icon ion-play"></i></span></button>

        <button class="button button--small button--blue grow" id="how-to-play" onclick="buttonDown()"><span class="button__text"><i class="icon ion-help d-md-none"></i><span class="d-none d-md-inline">How to play</span></span></button>

        <!-- <div class="button button--small button--blue shrink mr-1" id="easy" data-difficulty="easy" onclick="buttonDown()">
          <img class="button__logo" src="images/logo-tent.svg">
        </div> -->
      </div>
    </div>
    <div class="col-sm-8 panel panel--purple d-flex align-items-stretch p-3">
      <div class="screen d-flex align-items-center justify-content-center flex-column">

        <img src="images/illo-workout-head.gif" width="96" height="96" class="mb-4">
        <div class="row p-3 output">

          <div class="col-5 text-right">Feature: </div>
          <div class="col-7 mb-3">
            <div id="features" class="output__text">Any feature</div>
          </div>

          <div class="col-5 text-right">Use case: </div>
          <div class="col-7 mb-3">
            <div id="useCases" class="output__text">Any use case</div>
          </div>

          <div class="col-5 text-right">Audience: </div>
          <div class="col-7 mb-3">
            <div id="audiences" class="output__text">Any audience</div>
          </div>

          <div class="col-5 text-right">Device: </div>
          <div class="col-7 mb-3">
            <div id="devices" class="output__text">Any device</div>
          </div>

          <div class="col-5 text-right">Need: </div>
          <div class="col-7 mb-3">
            <div id="needs" class="output__text">Any need</div>
          </div>

        </div>

      </div>
  <!-- <div class="panel panel--purple flippable flipped" id="prompt1">
        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">Design</div>
          <div class="col-6">
            <div class="output cover" id="features">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Any feature</div>
              </div>
            </div>
          </div>
          <div class="col-2 mr-auto text-left align-self-center">
            <label for="features-hide"><input type="checkbox" name="features-hide" id="features-hide" data-hide-output="features"> Hide</label>
             <div class="button button--small button--blue selectable" id="features-hide" data-hide-output="features" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">for</div>
          <div class="col-6">
            <div class="output cover" id="useCases">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Any use case</div>
              </div>
            </div>
            </div>
          <div class="col-2 mr-auto text-left align-self-center">
             <label for="useCases-hide"><input type="checkbox" name="useCases-hide" id="useCases-hide" data-hide-output="useCases"> Hide</label>
             <div class="button button--small button--blue selectable" id="useCases-hide" data-hide-output="useCases" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">to help</div>
          <div class="col-6">
            <div class="output cover" id="audiences">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Any audience</div>
              </div>
            </div>
            </div>
          <div class="col-2 mr-auto text-left align-self-center">
             <label for="audiences-hide"><input type="checkbox" name="audiences-hide" id="audiences-hide" data-hide-output="audiences"> Hide</label>
             <div class="button button--small button--blue selectable" id="audiences-hide" data-hide-output="audiences" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">using</div>
          <div class="col-6">
            <div class="output cover" id="devices">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Any device</div>
              </div>
            </div>
            </div>
          <div class="col-2 mr-auto text-left align-self-center">
             <label for="devices-hide"><input type="checkbox" name="devices-hide" id="devices-hide" data-hide-output="devices"> Hide</label>
             <div class="button button--small button--blue selectable" id="devices-hide" data-hide-output="devices" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">who need</div>
          <div class="col-6">
            <div class="output cover" id="needs">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Anything</div>
              </div>
            </div>
            </div>
          <div class="col-2 mr-auto text-left align-self-center">
             <label for="needs-hide"><input type="checkbox" name="needs-hide" id="needs-hide" data-hide-output="needs"> Hide</label>
             <div class="button button--small button--blue selectable" id="needs-hide" data-hide-output="needs" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

{% endblock %}
