{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
  #}

  {% extends 'layouts/application.html' %}

  {% block content %}
  <!-- <h1 data-module="example">{{ message }}</h1> -->

  <!-- audio js junk -->
  <script>

  function buttonDown() {
      var buttonDown = new Audio('button-down.mp3');
      buttonDown.play();
    }
  </script>
  <div class="row no-gutters align-items-stretch" style="height: 100vh">
    <div class="col-3 panel panel--blue">
      <div class="container-fluid d-flex flex-column justify-content-center">
        <div class="panel panel--blue panel--raised mb-4">
          <div class="screen">
            <img src="images/illo-workout-head.gif">
          </div>
        </div>
        <div class="d-flex align-items-stretch">
          <div class="button button--small button--blue shrink mr-1" id="easy" data-difficulty="easy" onclick="buttonDown()">
            <img class="button__logo" src="images/logo-tent.svg">
          </div>
          <div class="button-group">
            <div class="button button--small button--blue js-difficulty selected" id="easy" data-difficulty="easy" onclick="buttonDown()">
              <span class="button__text">Easy</span>
            </div>
            <div class="button button--small button--blue js-difficulty" id="medium" data-difficulty="medium" onclick="buttonDown()">
              <span class="button__text">Medium</span>
            </div>
            <div class="button button--small button--blue js-difficulty" id="hard" data-difficulty="hard" onclick="buttonDown()">
              <span class="button__text">Hard</span>
            </div>
          </div>
        </div>
        <button class="button button--small button--pink width-full mt-1 mb-3" id="reload-button" onclick="buttonDown()"><span class="button__text">Reload Challenge</span></button>
        <!-- <div class="input-stepper text-center mb-3 d-flex align-items-stretch">
          <div class="d-flex flex-column align-items-stretch">
            <button data-input-stepper-decrease="5" class="button button--small button--blue" onclick="buttonDown()"><span class="button__text">--</span></button>
            <button data-input-stepper-decrease class="button button--small button--blue" onclick="buttonDown()"><span class="button__text">-</span></button>
          </div>
          <div class="screen ml-1 mr-1 align-items-stretch">
            <input type="text" id="timer-selection" class="d-inline-flex" min="1" max="60" value="15" size="5">
            <h2 class="countdown__timer mr-auto" id="timer">
              <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
            </h2>
          </div>
          <div class="d-flex flex-column align-items-stretch">
            <button data-input-stepper-increase="5" class="button button--small button--blue" onclick="buttonDown()"><span class="button__text">--</span></button>
            <button data-input-stepper-increase class="button button--small button--blue" onclick="buttonDown()"><span class="button__text">-</span></button>
          </div>
        </div> -->
        <div class="timer button-group" id="timer">
          <div class="timer__button-container d-flex align-items-stretch">
            <button data-stepper-direction="decrease" class="timer__button button button--small button--blue" onclick="buttonDown()"><span class="button__text"><i class="icon ion-chevron-down"></i></span></button>
          </div>
          <div class="timer__display screen">
            <span class="minutes">15</span>
            <span class="colon">:</span>
            <span class="seconds">00</span>
          </div>
          <div class="timer__button-container d-flex align-items-stretch">
            <button data-stepper-direction="increase" class="timer__button button button--small button--blue" onclick="buttonDown()"><span class="button__text"><i class="icon ion-chevron-up"></i></span></button>
          </div>
        </div>
        <button class="button grow" id="start-button" onclick="buttonDown()"><span class="button__text">Start</span></button>
      </div>
    </div>
    <div class="col-9 panel panel--purple d-flex align-items-stretch p-3">
      <div class="screen d-flex align-items-center justify-content-center flex-column">
        <img src="images/illo-workout-squat.gif" width="256" height="256">
        <p>Design a thing!</p>
      </div>
      <!-- <div class="panel panel--purple flippable flipped" id="prompt1">
        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">Design</div>
          <div class="col-6">
            <div class="output cover" id="features">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Any feature</div>
              </div>
            </div>
          </div>
          <div class="col-2 mr-auto text-left align-self-center">
            <label for="features-hide"><input type="checkbox" name="features-hide" id="features-hide" data-hide-output="features"> Hide</label>
             <div class="button button--small button--blue selectable" id="features-hide" data-hide-output="features" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">for</div>
          <div class="col-6">
            <div class="output cover" id="useCases">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Any use case</div>
              </div>
            </div>
            </div>
          <div class="col-2 mr-auto text-left align-self-center">
             <label for="useCases-hide"><input type="checkbox" name="useCases-hide" id="useCases-hide" data-hide-output="useCases"> Hide</label>
             <div class="button button--small button--blue selectable" id="useCases-hide" data-hide-output="useCases" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">to help</div>
          <div class="col-6">
            <div class="output cover" id="audiences">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Any audience</div>
              </div>
            </div>
            </div>
          <div class="col-2 mr-auto text-left align-self-center">
             <label for="audiences-hide"><input type="checkbox" name="audiences-hide" id="audiences-hide" data-hide-output="audiences"> Hide</label>
             <div class="button button--small button--blue selectable" id="audiences-hide" data-hide-output="audiences" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">using</div>
          <div class="col-6">
            <div class="output cover" id="devices">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Any device</div>
              </div>
            </div>
            </div>
          <div class="col-2 mr-auto text-left align-self-center">
             <label for="devices-hide"><input type="checkbox" name="devices-hide" id="devices-hide" data-hide-output="devices"> Hide</label>
             <div class="button button--small button--blue selectable" id="devices-hide" data-hide-output="devices" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-2 ml-auto text-right align-self-center label-text">who need</div>
          <div class="col-6">
            <div class="output cover" id="needs">
              <div class="output__text-container align-items-center d-flex">
                <div class="output__text">Anything</div>
              </div>
            </div>
            </div>
          <div class="col-2 mr-auto text-left align-self-center">
             <label for="needs-hide"><input type="checkbox" name="needs-hide" id="needs-hide" data-hide-output="needs"> Hide</label>
             <div class="button button--small button--blue selectable" id="needs-hide" data-hide-output="needs" onclick="buttonDown()"><span class="button__text">Hide</span></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

{% endblock %}
