{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
  #}

  {% extends 'layouts/application.html' %}

  {% block content %}
  <!-- <h1 data-module="example">{{ message }}</h1> -->

  <!-- audio js junk -->
  <script>

  function buttonDown() {
      var buttonDown = new Audio('button-down.mp3');
      buttonDown.play();
    }
  </script>
  <div class="row no-gutters align-items-stretch" style="height: 100vh">
    <div class="col-sm-4 panel panel--blue d-flex overflow-y-scroll">
      <div class="container-fluid d-flex flex-column justify-content-top">
        <div class="panel panel--blue panel--raised mb-4 shrink">
          <div class="screen shrink">

            <div class="row no-gutters align-items-center panel-heading">
              <div class="col-4 text-right">
                <img src="images/illo-workout-squat-still.gif" width="96" height="96" class="img-fluid illo illo--still">
                <img src="images/illo-workout-squat.gif" width="96" height="96" class="img-fluid illo illo--animated" style="display: none;">
              </div>
              <div class="col-8 text-left">
                <h5 class="panel-heading__title">Designercize</h5>
              </div>
            </div>

            <div class="px-3">
              <small>
              <ol>
                <li>
                  Choose a difficulty
                </li>
                <li>
                  Reload until you're happy
                </li>
                <li>
                  If you're happy and you know it, clap your hands
                </li>
                <li>
                  Choose duration
                </li>
                <li>
                  Hit Start
                </li>
              </ol>
            </small>
            </div>

          </div>
        </div>

        <div class="button-group grow mb-2">
          <div class="button button--small button--blue js-difficulty selected d-flex justify-content-center align-items-center" id="easy" data-difficulty="easy" onclick="buttonDown()">
            <span class="button__text d-none d-md-inline-block">Easy</span>
            <span class="button__text d-md-none">E</span>
          </div>
          <div class="button button--small button--blue js-difficulty selected d-flex justify-content-center align-items-center" id="medium" data-difficulty="medium" onclick="buttonDown()">
            <span class="button__text d-none d-md-block">Medium</span>
            <span class="button__text d-md-none">M</span>
          </div>
          <div class="button button--small button--blue js-difficulty selected d-flex justify-content-center align-items-center" id="hard" data-difficulty="hard" onclick="buttonDown()">
            <span class="button__text d-none d-md-block">Hard</span>
            <span class="button__text d-md-none">H</span>
          </div>
        </div>

        <button class="screen__scene-change button button--small button--pink width-full mt-1 mb-3 grow" id="reload-button" onclick="buttonDown()"><span class="button__text"><span class="d-none d-md-inline">Reload Challenge&nbsp;&nbsp;</span><i class="icon ion-refresh"></i></span></button>

        <div class="timer d-flex p mb-3 flex-md-row grow align-items-stretch" id="timer">
          <div class="timer__button-container d-flex align-items-stretch">
            <button data-stepper-direction="decrease" class="timer__button button button--small button--blue" onclick="buttonDown()"><span class="button__text"><i class="icon ion-chevron-down"></i></span></button>
          </div>
          <div class="timer__display screen d-flex justify-content-center">
            <div class="align-self-center">
              <span class="minutes">15</span>
              <span class="colon">:</span>
              <span class="seconds">00</span>
            </div>
          </div>
          <div class="timer__button-container d-flex align-items-stretch">
            <button data-stepper-direction="increase" class="timer__button button button--small button--blue" onclick="buttonDown()"><span class="button__text"><i class="icon ion-chevron-up"></i></span></button>
          </div>
        </div>

        <button class="screen__scene-change button grow" id="start-button" onclick="buttonDown()"><span class="button__text"><span class="d-none d-md-inline">Start&nbsp;&nbsp;</span><i class="icon ion-play"></i></span></button>



        <!-- <div class="button button--small button--blue shrink mr-1" id="easy" data-difficulty="easy" onclick="buttonDown()">
          <img class="button__logo" src="images/logo-tent.svg">
        </div> -->
      </div>
    </div>
    <div class="col-sm-8 panel panel--purple d-flex align-items-stretch p-3">
      <div class="screen d-flex align-items-center overflow-y-scroll">

        <div class="screen__scene challenge-countdown" data-scene-trigger="start-button">
          <h1 class="big">3</h1>
        </div>

        <div class="screen__scene challenge-running" data-scene-trigger="reload-button">
          <img src="images/illo-workout-head.gif" width="96" height="96" class="mb-4 align-self-center">
          <div class="row p-3 output">

            <div class="col-5 text-right">Design: </div>
            <div class="col-7 mb-3 text-left">
              <div id="features" class="output__text"></div>
            </div>

            <div class="col-5 text-right">For: </div>
            <div class="col-7 mb-3 text-left">
              <div id="useCases" class="output__text"></div>
            </div>

            <div class="col-5 text-right">To help: </div>
            <div class="col-7 mb-3 text-left">
              <div id="audiences" class="output__text"></div>
            </div>

            <div class="d-none">
              <div class="col-5 text-right">Device: </div>
              <div class="col-7 mb-3 text-left">
                <div id="devices" class="output__text"></div>
              </div>

              <div class="col-5 text-right">Need: </div>
              <div class="col-7 mb-3 text-left">
                <div id="needs" class="output__text"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="screen__scene challenge-out-of-time" data-scene-trigger="out-of-time">
          <h1 class="big">Out of time!</h1>
        </div>

      </div>

    </div>
  </div>

{% endblock %}
