$button-transition: all 0.12s ease-in-out;
$button-radius: 4px;

.button {
  padding: 0.7em 0.4em;
  display: inline-block;
  border: 2px solid #000001;
  border-radius: $button-radius;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 8008;
  font-size: 30px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  transition: $button-transition;
  box-shadow: 0 6px #441dbf;
  outline: none!important;
  &--disabled {
    pointer-events: none;
  }
}

@mixin button-color($palette: blue){
  &.button {
    // shadowed 3D part of button
    background: palette($palette, 03);
    color: palette($palette, 03);
    :hover.button::after {
      background-color: palette($palette, 02);
    }
    // actual button color
    &::after {
      background-color: palette($palette, 02);
      display: block;
      position: absolute;
      content: "";
      top: -2px;
      left:-2px;
      right:-2px;
      bottom: 4px;
      border: 2px solid #000001;
      border-radius: $button-radius;
      z-index: 0;
      transition: $button-transition;
    }

    // highlight
    &::before {
      display: block;
      position: absolute;
      background: palette($palette, 01);
      content: "";
      top: 0px;
      left:2px;
      right: 2px;
      border-radius: 2px;
      height: 2px;
      z-index: 2;
      transition: $button-transition;
    }

    //
    &:hover .button__text, &:active .button__text, &.selected .button__text {
      color: white;
      text-shadow: 0 0 20px white;
    }

    &:active::after,&:active .button__text,
    &.selected .button__text,&.selected::after, &.selected .button__text, {
      bottom: -2px;
      top: 6px;
    }

    &:active::before, &.selected::before {
      top: 6px;
      opacity: 0;
    }

    //
    &:active::after,
    &.selected::after {
      box-shadow: inset 0 6px palette($palette, 03);
    }

    &:active::after,
    &.selected::after {
      background-color: darken(palette($palette, 03), .1);
    }

    .button__text {
      z-index: 2;
      position: relative;
      top: -2px;
      transition: $button-transition;
      display: block;
    }

    &:active,
    &.selected {
      background-color: #0000bf;
      box-shadow: 0 0px rgba(0,0,0,0);
    }

    &:active .button__text,
    &.selected .button__text {
      color: white;
    }
  }
  &:active,
  &.selected {
    background-color: palette(blue-purple, 03);
    box-shadow: 0 0px rgba(0,0,0,0);
  }
  &--disabled {
    //background: desaturate(palette($palette, d), 50%);
    &::after,
    &::before {
      opacity: 0.4;
    }
  }
}

.button--blue {
  @include button-color(blue);
}

.button--red {
  @include button-color(red);
}

.button--yellow {
  @include button-color(yellow);
}

.button--green {
  @include button-color(green);
}

.button--pink {
  @include button-color(pink);
}



.button__logo {
  position: relative;
  z-index: 2;
  transition: $button-transition;
  top: 0;
}

.button__logo {
  @include button-color(pink);
  width: 24px;
  height: 24px;
  margin: -13px -6px -8px -6px;
}

.button--small {
  padding: 12px 4px;
  font-size: 18px;
}


/* Button */

.button--info {
  @include button-color(pink);
  //position: absolute;
  //right: 10px;
  //bottom: 10px;
  height: 64px;
  width: 54px;
  padding: 0;
  z-index: 10;
  box-shadow: none;
  font-size: 1rem;

  .button__text {
    line-height: 60px;
  }
}



.button-group {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  .button {
    flex-grow: 1;
    border-right-width: 0;
  }
  .button, .button::after {
    border-radius: 0;
  }
  .button:first-child, .button:first-child::after {
    border-radius: $button-radius 0 0 $button-radius;
  }
  .button:last-child, .button:last-child::after {
    border-radius: 0 $button-radius $button-radius  0;
    border-right-width: 2px;
  }

  .timer__button-container {
    &:first-child {
      .button,
      .button:after {
        border-radius: $button-radius $button-radius 0 0;
      }
    }

    &:last-child {
      .button,
      .button:after {
        border-radius: 0 0 $button-radius $button-radius;
      }
    }
  }

  @media (min-width: 768px) {
    .timer__button-container {
      &:first-child {
        .button,
        .button:after {
          border-radius: $button-radius 0 0 $button-radius;
        }
      }

      &:last-child {
        .button,
        .button:after {
          border-radius: 0 $button-radius $button-radius 0;
        }
      }
    }
  }
}

.no-radius {
  border-radius: 0;
  &:after {
    border-radius: 0;
  }
}

.button.radius, .button.radius:after {
  border-radius: $button-radius;
}
