.timer {
  &__display {
    text-align: center;
    padding: .5rem .25rem .25rem;
    font-size: 1.5rem;
    z-index: 2;
    &.screen, &.screen::before, &.screen::after {
      border-radius: 0;
    }
  }

  &__button {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.timer {
  .timer__button-container:first-child .button, .timer__button-container:first-child .button::after {
    border-radius: $button-radius 0 0 $button-radius;
    border-right: 0;
  }
  .timer__button-container:last-child .button, .timer__button-container:last-child .button::after {
    border-radius: 0 $button-radius $button-radius  0;
    border-left: 0;
  }
}

.input {
  background: transparent;
  border: 0;
  border-bottom: 3px solid #4CF190;
  color: #4CF190;
  outline-color: #4CF190;
  padding: 20px;
  line-height: 1px;

  &::placeholder {
    color: #4CF190;
  }
}
