.panel {
  border: 2px solid #000001;
  border-left: 0;
  padding: 1rem 0;
  position: relative;
  z-index: 2;
  .panel {
    border-radius: 4px;
    padding: 1rem;
    border: 2px solid #000001;
  }
  .panel.panel--raised {
    &:before {
      border-radius: 0 0 4px 4px;
      left: -2px;
      right: -2px;
    }
  }
  &--blue {
    background: #0051fc;
    box-shadow: inset 0 2px 0 0 #1578F8;
  }
  &--purple{
    background: #6839FF;
    box-shadow: inset 0 2px 0 0 #1578F8;
  }
  &--rounded {
    border-radius: 4px;
  }
  &--raised {
    margin-bottom: 6px;
    z-index:3;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: -10px;
      left: -2px;
      right: -2px;
      border-bottom: 2px solid #000001;
      border-left: 2px solid #000001;
      border-right: 2px solid #000001;
      box-shadow: inset 0 -6px 0 #441DBF;
      pointer-events: none;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -18px;
      left: 0px;
      right: 0px;
      height: 8px;
      background: #441DBF;
      z-index: 2;
      pointer-events: none;
    }
  }
  &-hole {
    background: #000001;
    border-radius: 4px;
    position: relative;
  }
  &--revealable {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-heading {
    &__title {
      padding-top: 0.25em;
    }

    @media (min-width: 576px) {
      &__title {
        font-size: 2vw;
      }
    }
  }
}

.flippable {
  transition: .33s ease-in-out;
}

.flipped {
  transform: rotateX(180deg);
  backface-visibility: hidden;
  z-index: 1;
}
