html, body {
  min-width: 320px;
}

@media (min-width:768px) {

  .align-items-center-md {
    align-items: center !important;
  }

  .layout {
    &__control-panel {
      &__display,
      &__controls {
        height: 50vh;
      }
    }
  }

  .main-display {

    &__made-by {
      height: 10%;
    }

    &__screen {
      height: 88%;
    }
  }

}

@media (min-width:768px) and (max-width:992px) {
  .h2 {
    font-size: 1.5rem;
  }
}

@media (min-width:992px) {
  .align-items-center-lg {
    align-items: center !important;
  }
}

@media (max-width:768px) {

  .text-small-on-sm {
    font-size: 0.85em !important;
  }
  
  .main-display {
    &__made-by {
      padding-bottom: 0.5rem;
    }
  }

}

.main-display__spacer {
  height: 2%;
}
