body,
html {
  font-size: 20px;
  line-height: 1.5;
  background: #f9f9f9;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    position: relative;
    top: 2px;
  }
}

h1,
h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem;
  letter-spacing: 2px;
}

.icon {
  &--small path {
    font-size: 0.25rem;
  }
}

.nav {
  background: #53c7a2;
  color: #fff;

  a {
    color: #fff;
  }

  h2 {
    padding: 0;
  }
}

.countdown {
  background: rgba(0,0,0,0.05);

  &__timer {
    font-size: 2rem;
    padding: 1rem 0;
    color: rgba(0,0,0,0.5);
  }
}

section {
  padding: 1.5em 0;
}

.output {
  margin: 0;
  padding: 0.25em 0;
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
}

.btn {
  padding: 1em 2em;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  border: 0;
}

[data-difficulty="hard"] {
  background-color: #5c61ff;

  &:hover {
    background-color: darken(#5c61ff, 5%);
  }
}

[data-difficulty="medium"] {
  background-color: #5dadff;

  &:hover {
    background-color: darken(#5dadff, 5%);
  }
}

[data-difficulty="easy"] {
  background-color: #5de1ff;

  &:hover {
    background-color: darken(#5de1ff, 5%);
  }
}

.jSlots-wrapper {
    overflow: hidden; /* to hide the magic */
    height: 20px; /* whatever the height of your list items are */
    display: inline-block; /* to size width correctly, can use float too, or width*/
    border: 1px solid #999;
}
