@font-face {
  font-family: 'DDCHardware';
  src:  url('../fonts/ddchardware-regular-webfont.woff2') format('woff2'),
        url('../fonts/ddchardware-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'DDCHardwareCompressed';
  src:  url('../fonts/ddchardware-compressed-webfont.woff2') format('woff2'),
        url('../fonts/ddchardware-compressed-webfont.woff') format('woff');
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'DDCHardware', sans-serif;
  font-style: normal;
  font-weight: normal;
}

body,
input {
  font-family: 'DDCHardwareCompressed', sans-serif;
  font-weight: normal;
}

.label-text,
label {
  color: #fde1a5;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  transition: all 0.25s ease-in;
}
