body {
  font-family: sans-serif;
  // font-family: 'Vast Shadow', cursive;
  // font-family: 'Ultra', serif;
  // font-family: 'Syncopate', sans-serif;
  // font-family: 'Goblin One', cursive;
  // font-family: 'Asset', cursive;
  // font-family: 'Diplomata SC', cursive;
  font-family: 'Overpass Mono', mono;
  font-weight: 300;
}
