@font-face {
  font-family: 'DDCHardware';
  src:  url('../fonts/ddchardware-regular-webfont.woff2') format('woff2'),
        url('../fonts/ddchardware-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'DDCHardwareCompressed';
  src:  url('../fonts/ddchardware-compressed-webfont.woff2') format('woff2'),
        url('../fonts/ddchardware-compressed-webfont.woff') format('woff');
}

@font-face {
  font-family: '80085';
  src:  url('../fonts/80085-Regular.woff2') format('woff2'),
        url('../fonts/80085-Regular.woff') format('woff');
}
@font-face {
  font-family: '8008135';
  src:  url('../fonts/8008135-Regular.woff2') format('woff2'),
        url('../fonts/8008135-Regular.woff') format('woff');
}
@font-face {
  font-family: '8008';
  src:  url('../fonts/8008-Regular.woff2') format('woff2'),
        url('../fonts/8008-Regular.woff') format('woff');
}

body,
html {
  font-family: '8008', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  background: #ffffff!important;
  color: #000001;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: '8008','DDCHardware', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.button,
.button__text {
  font-family: '8008', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h1.big {
  font-size: 3rem;
}

.label-text,
label {
  color: #000001;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  transition: all 0.25s ease-in;
}

.screen {
  font-family: '80085', 'DDCHardware', sans-serif;
}

.font-weight-fat {
  font-family: "8008135";
}
