{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}

    <meta property="og:title" content="DESIGNERCIZE" />
    <meta property="og:description" content="Retro randomized prompt generator for practicing whiteboard design exercises." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://designercize.com" />
    <meta property="og:image" content="https://designercize.com/images/designercize-medium.gif" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://designercize.com">
    <meta name="twitter:creator" content="@zachalbert">
    <meta name="twitter:creator" content="@jakeflem">
    <meta name="twitter:title" content="DESIGNERCIZE">
    <meta name="twitter:description" content="Retro randomized prompt generator for practicing whiteboard design exercises.">
    <meta name="twitter:image" content="https://designercize.com/images/designercize-medium.gif">
    {% block head %}{% endblock %}
  </head>
  <body>

    {% block content %}{% endblock %}

    {% block javascript %}
    <script src="javascripts/app.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109705254-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109705254-1');
    </script>
    {% endblock %}
  </body>
</html>
